
table {
    border-collapse: collapse;
}

table, th, td {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid LightGray;
}

tr:nth-child(even) {background-color: #efefef;}
